<hr/>
<h2 align="center">Page formation</h2>

<h3>Formation : {{formation}}</h3>

<h4>Formateur : {{formateur}}</h4>

<ul>
  <li *ngFor="let stagiaire of  stagiaires">{{stagiaire|firstLetterUpperCase}}</li>
</ul>

<table boder="1" class="table" align="center">
  <tr><th>ID</th><th>Name</th><th>Username</th><th>Email</th><th>Adresse</th></tr>
  <tr *ngFor="let user of users">
    <td>{{user.id}}</td>
    <td>{{user.name}}</td>
    <td>{{user.username}}</td>
    <td>{{user.email}}</td>
    <td>{{user.address.street}}</td>
  </tr>
</table>
<hr/>
